@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;900&display=swap");
/*colores
blanco #F2F2F2
celeste 1 claro #8FBDD9
celeste 2 #417FA6
celeste 3 #2B96D9
celeste opaco #417FA6
negro #0D0D0D
logo #2C85C7

*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box; }

a {
  text-decoration: none; }

p {
  line-height: 1.5; }

ul {
  list-style-type: none; }

html {
  scroll-behavior: smooth; }

main {
  background-image: linear-gradient(#417FA6, #8FBDD9, #2C85C7); }

.intros, .clientes__intro, .contacto__intro, .pf__intro {
  background-image: url("./../assets/imagenes/fondos/fondoetiquetass.jpg");
  background-position: center center;
  background-size: cover;
  height: 90vh; }
  .intros h1, .clientes__intro h1, .contacto__intro h1, .pf__intro h1 {
    background-color: #0D0D0D;
    color: #8FBDD9;
    text-align: center;
    animation: introMov 5s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate; }

header {
  background-color: #2C85C7;
  position: sticky;
  z-index: 1;
  top: 0; }

/*KEYFRAMES*/
@keyframes introMov {
  10% {
    width: 60%; }
  25% {
    width: 65%; }
  30% {
    width: 70%; }
  35% {
    width: 75%; }
  40% {
    width: 80%; }
  45% {
    width: 85%; }
  50% {
    width: 90%;
    background-color: #2C85C7; }
  55% {
    width: 95%; }
  100% {
    width: 75%;
    background-color: #135588; } }

.card {
  background-color: #8FBDD9;
  border: none;
  color: #0D0D0D;
  box-shadow: rgba(59, 86, 238, 0.4) 0px 5px, rgba(49, 46, 240, 0.3) 0px 10px, rgba(46, 82, 240, 0.2) 0px 15px, rgba(46, 169, 240, 0.1) 0px 20px, rgba(46, 162, 240, 0.05) 0px 25px;
  transition: background-color 0.1s linear; }

.card:hover {
  background-color: #809fff; }

.btn-primary {
  background-color: #2C85C7;
  border: none; }

/*PIE*/
.pie {
  margin-top: 2%;
  background-color: #ffffff;
  box-shadow: #555bff 0px 0px 0px 3px, #1fc11b 0px 0px 0px 6px, #ffd913 0px 0px 0px 9px, #ff9c55 0px 0px 0px 12px, #ff5555 0px 0px 0px 15px; }

.pie p {
  color: #417FA6; }

.pie img {
  width: 60%;
  border-radius: 200px; }

.pie__logos img {
  width: 20%;
  transition: all 0.3s ease; }

.pie__logos img:hover {
  width: 30%; }

.pie__end {
  background-color: #135588;
  color: #bdcdff;
  font-size: 15px;
  justify-content: center; }

/*MEDIA QUERIES*/
@media screen and (max-width: 768px) {
  .pie {
    display: flex;
    flex-direction: column; } }

/*INTRO*/
.intro {
  background-image: url("./../../assets/imagenes/fondos/cajasfondoedit.jpg");
  background-position: center center;
  background-size: cover;
  height: 90vh; }

.intro h1 {
  background-color: #0D0D0D;
  color: #8FBDD9;
  text-align: center;
  animation: introMov 6s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

.card {
  -webkit-animation: scale-in-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.tarjeta-1 {
  animation-delay: 2s; }

.tarjeta-2 {
  animation-delay: 4s; }

.tarjeta-3 {
  animation-delay: 6s; }

@-webkit-keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1; } }

@keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1; } }

/*declaro mi mapa*/
/*bucle*/
.boton--1 {
  background-color: #e676b7; }

.boton--2 {
  background-color: #e64da6; }

.boton--3 {
  background-color: #f1299e; }

.celulares__intro {
  background-image: url("./../assets/imagenes/fondos/fondoetiquetass.jpg");
  background-position: center center;
  background-size: cover;
  height: 90vh; }
  .celulares__intro h1 {
    background-color: #0D0D0D;
    color: #8FBDD9;
    text-align: center;
    animation: introMov 5s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate; }

/*CELULARES*/
.cajita {
  padding: 1%; }

/*tabla*/
.tabla {
  padding-bottom: 5%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  border-collapse: collapse;
  border: solid 3px #070708;
  border-radius: 10px;
  overflow-x: auto;
  border-spacing: 0;
  align-items: center;
  grid-area: caja3; }

th {
  border-bottom: solid 2px #070708;
  color: #ffffff;
  padding: 3px;
  font-weight: bolder; }

td {
  background-color: #070708;
  color: #ffffff;
  padding: 1px;
  font-weight: 800;
  transition: all 0.3s ease-in; }

tr:hover td {
  background-color: #809fff;
  color: #000000; }

ul img {
  width: 20%;
  height: 20%; }

form {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; }

.clientes__intro {
  background-image: url(./../../assets/imagenes/fondos/cajasfondoedit.jpg);
  padding-bottom: 2%; }

.pf__intro {
  background-color: #87eeee; }
