/*INTRO*/

.intro {
    background-image: url("./../../assets/imagenes/fondos/cajasfondoedit.jpg");
    background-position: center center;
    background-size: cover;
    height: 90vh;  
   
}

.intro h1 {
    background-color: #0D0D0D;
    color: #8FBDD9;
    text-align: center;
    animation:introMov 6s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.card{
 
    
        -webkit-animation: scale-in-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: scale-in-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    

} 






 @for $item from 1 through 3 {
    .tarjeta-#{$item}{
        animation-delay: $item*2s;

    }
}

@-webkit-keyframes scale-in-bottom {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-in-bottom {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
  }
  


 

 
/*declaro mi mapa*/

$botones:(
    1: rgb(230, 118, 183),
    2:  rgb(230, 77, 166),
    3: rgb(241, 41, 158)
);
/*bucle*/

@each $boton,$color in $botones{
.boton--#{$boton}{
    background-color:$color;
   
}
}
