/*INTRO*/

.intro {
    background-image: url("./../../assets/imagenes/fondos/cajasfondoedit.jpg");
    background-position: center center;
    background-size: cover;
    height: 90vh;  
   
}

.intro h1 {
    background-color: #0D0D0D;
    color: #8FBDD9;
    text-align: center;
    animation:introMov 6s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.card{
 
    -webkit-animation:flip-scale-2-ver-left .5s linear 5s both;animation:flip-scale-2-ver-left .5s linear 5s 

} 






 @for $item from 1 through 3 {
    .tarjeta-#{$item}{
        animation-delay: $item*2s;

    }
}




 @-webkit-keyframes flip-scale-2-ver-left{
    0%{-webkit-transform:translateX(0) rotateY(0) scale(1);
        transform:translateX(0) rotateY(0) scale(1);
        -webkit-transform-origin:0 50%;
        transform-origin:0 50%}
        50%{-webkit-transform:translateX(-50%) rotateY(90deg) scale(2);
            transform:translateX(-50%) rotateY(90deg) scale(2);
            -webkit-transform-origin:50% 50%;
            transform-origin:50% 50%}
            100%{-webkit-transform:translateX(-100%) rotateY(180deg) scale(1);
                transform:translateX(-100%) rotateY(180deg) scale(1);
                -webkit-transform-origin:100% 50%;transform-origin:100% 50%}
            }
            @keyframes flip-scale-2-ver-left{
                0%{-webkit-transform:translateX(0) rotateY(0) scale(1);transform:translateX(0) rotateY(0) scale(1);
                    -webkit-transform-origin:0 50%;transform-origin:0 50%}
                    50%{-webkit-transform:translateX(-50%) rotateY(90deg) scale(2);
                        transform:translateX(-50%) rotateY(90deg) scale(2);
                        -webkit-transform-origin:50% 50%;transform-origin:50% 50%}
                        100%{-webkit-transform:translateX(-100%) rotateY(180deg) scale(1);
                            transform:translateX(-100%) rotateY(180deg) scale(1);
                            -webkit-transform-origin:100% 50%;
                            transform-origin:100% 50%}
}
 
/*declaro mi mapa*/

$botones:(
    boton--1: rgb(230, 118, 183),
    boton--2:  rgb(230, 77, 166),
    boton--3: rgb(241, 41, 158)
);
/*bucle*/

@each $boton,$color in $botones{
.boton--#{$boton}{
    background-color:$color;
   
}
}
