/*KEYFRAMES*/

@keyframes introMov{
    10%{
        width: 60%;
    }
    25%{
        width:65%;
    }

    30%{
        width:70%;
    }

    35%{

        width:75%;
    }
    40%{

        width:80%;
    }
    45%{

        width:85%;
    }
    50%{
        width: 90%;
        background-color: #2C85C7;
    }

    55%{

        width:95%;
    }
    100%{
        width: 75%;
        background-color: #135588;
    }
}

@keyframes introColor{
    10%{
            color: #8FBDD9;
            background-color: #0D0D0D;
    }
    25%{
        color: #69a5ca;
        background-color: #0D0D0D;
    }

    30%{
        color: #55a6d8;
            background-color: #0D0D0D;
    }

    35%{

        color: #3e99d1;
        background-color: #0D0D0D;
    }
    40%{

        color: #2590d3;
        background-color: #0D0D0D;
    }
    45%{

        color: #3191cc;
        background-color: #0D0D0D;
    }
    50%{
        color: #208dd1;
        background-color: #0D0D0D;
    }

    55%{

        color: #1284ca;
        background-color: #0D0D0D;
    }
    100%{
        color: #007bc7;
        background-color: #0D0D0D;;
    }
}

